<ul role="list" class="post-list">
    {% for post in posts %}
    <li class="post">
        <h2><a href="/forum/{{ post.id }}">{{ post.title | safe }}</a></h2>
        <p>{{ post.author }}</p>
        <p>{{ post.body | safe }}</p>
    </li>
    {% endfor %}
</ul>