<nav class="container">
    <a href="/">User forum</a>
    <ul role="list">
        {% if user != 0 %}
        <li><a href="/user/profile">Profile</a></li>
        <li>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
        {% endif %}
    </ul>
</nav>