{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <h1>{{ title }}</h1>

    {% if user %}
    <p><a href="/forum/new">New Post</a></p>
    {% endif %}
    {% if posts.length > 0 %}
    {% include "partials/forum-index.njk" %}
    {% else %}
    <p>There are no posts yet.</p>
    {% endif %}
</main>
{% endblock %}