{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <h1>{{ title }}</h1>
    <form action="/forum" method="POST">
        <input type="text" name="title" placeholder="Title">
        <textarea name="body" placeholder="Body"></textarea>
        <button type="submit">Post</button>
    </form>
    {%- if errors -%}
    <ul>
        {%- for error in errors -%}
        <li>{{ error }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
</main>
{% endblock %}